#1. Load data

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [3]:
!ls -al '/gdrive/MyDrive/datasets/'

total 2265789
-rw------- 1 root root    337176 May  3 07:45 data_202101.csv
-rw------- 1 root root    318040 May  3 07:49 data_202102.csv
-rw------- 1 root root    348209 May  3 07:50 data_202103.csv
-rw------- 1 root root   1003251 May  3 07:55 data_2021.csv
-rw------- 1 root root     16128 Sep  3  2020 Dueling_0.9_B_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_0.9_C_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.05_B_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.05_C_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.1_B_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.1_C_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.25_B_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.25_C_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.5_B_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1.5_C_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1_B_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_1_C_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_2_B_2000_5.npy
-rw------- 1 root root     16128 Sep  3  2020 Dueling_2_C_2000_5.npy
-rw------- 1 root root 757939580 Feb 14 23:37 TCS_11_03_02_339640.csv
-rw------- 1 root root 732586920 Mar 14 23:42 TCS_11_03_02_663167.csv
-rw------- 1 root root 827403150 Apr 14 23:36 TCS_11_03_02_717062.csv

In [6]:
import pandas as pd

file = '/gdrive/MyDrive/datasets/TCS_11_03_02_339640.csv'
# convert from utf-8 to kr
data = pd.read_csv(file, sep = ',', encoding='cp949')

In [7]:
data.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간  Unnamed: 6
0  20210101   18        0      101          1    -1         NaN
1  20210101   18        0      101          3    -1         NaN
2  20210101   18        0      101          4    -1         NaN
3  20210101    9        0      101          3    -1         NaN
4  20210101    9        0      101          2    -1         NaN

#2. Data manipulation

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24767718 entries, 0 to 24767717
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   집계일자        int64
 1   집계시         int64
 2   출발영업소코드     int64
 3   도착영업소코드     int64
 4   TCS차종구분코드   int64
 5   통행시간        int64
 6   Unnamed: 6  float64
dtypes: float64(1), int64(6)
memory usage: 1.3 GB

In [ ]:
# Delete NaN
data.pop('Unnamed: 6')
# data.drop(['Unnamed : 6'], axis = 'columns')

In [12]:
data.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
0  20210101   18        0      101          1    -1
1  20210101   18        0      101          3    -1
2  20210101   18        0      101          4    -1
3  20210101    9        0      101          3    -1
4  20210101    9        0      101          2    -1

In [13]:
data_time = data[data['통행시간']>0]

In [14]:
data_time['TCS차종구분코드'].unique()

array([3, 1, 2, 6, 4, 5])

#3. Choose some datas

In [67]:
data_df = pd.DataFrame(data_time, columns=['출발영업소코드','도착영업소코드','통행시간','집계일자'])

In [68]:
data_df.head()

      출발영업소코드  도착영업소코드  통행시간      집계일자
7684      101      102   617  20210101
7686      101      102   601  20210101
7687      101      102   644  20210101
7688      101      102   600  20210101
7689      101      102   612  20210101

In [17]:
data_df['출발영업소코드'].unique()

array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113,
       114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126,
       127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
       140, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
       154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
       193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205,
       206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
       219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231,
       232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244,
       245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
       258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270,
       271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283,
       284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296,
       297, 298, 299, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509,
       510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522,
       523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535,
       536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548,
       549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561,
       562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574,
       575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587,
       588, 589, 590, 591, 592, 593, 594, 595, 597, 598, 599, 600, 601,
       602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614,
       615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627,
       628, 629, 630, 631, 632, 633, 640, 641, 642, 643, 644, 645, 646,
       647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659,
       660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 671, 672, 673,
       675, 676, 677, 680, 682, 683, 684, 685, 686, 687, 688, 689, 691,
       692, 693, 694, 695, 696, 697, 698, 699, 701, 702, 703, 704, 705,
       706, 707, 708, 710, 712, 713, 714, 715, 716, 720, 722, 724, 725,
       729, 730, 731, 732, 733, 735, 736, 741, 746, 747, 748, 749, 750,
       752, 753, 754, 755, 756, 757, 760, 761, 762, 765, 766, 767, 768,
       770, 771, 780, 840, 850, 851, 987, 981, 857, 876, 982, 983, 984,
       985, 986, 758])

In [69]:
from_101 = data_df[data_df['출발영업소코드']==101]
from_101_to_160 =from_101[data_df['도착영업소코드']==160]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [70]:
from_101_to_160.head()

      출발영업소코드  도착영업소코드  통행시간      집계일자
9471      101      160  7625  20210101
9473      101      160  8363  20210101
9474      101      160  8725  20210101
9475      101      160  7814  20210101
9476      101      160  8296  20210101

In [ ]:
from_101_to_160.values

In [41]:
from_101_to_160.value_counts()

출발영업소코드  도착영업소코드  통행시간
101      160      8665    2
                  8070    2
                  9059    2
                  9412    2
                  8700    2
                         ..
                  9123    1
                  9081    1
                  9071    1
                  9056    1
                  6265    1
Length: 246, dtype: int64

#4. Grouping Data

Insert new column

In [71]:
# 0 is Monday and 6 is Sunday
from_101_to_160['요일'] = pd.to_datetime(from_101_to_160['집계일자'], format = '%Y%m%d').dt.dayofweek

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:
from_101_to_160.head()

      출발영업소코드  도착영업소코드  통행시간      집계일자  요일
9471      101      160  7625  20210101   4
9473      101      160  8363  20210101   4
9474      101      160  8725  20210101   4
9475      101      160  7814  20210101   4
9476      101      160  8296  20210101   4

In [73]:
from_101_to_160.sort_values(by='요일')

          출발영업소코드  도착영업소코드  통행시간      집계일자  요일
13315037      101      160  9412  20210119   1
14475981      101      160  8060  20210119   1
13315049      101      160  7996  20210119   1
13315043      101      160  7958  20210119   1
13315040      101      160  8467  20210119   1
...           ...      ...   ...       ...  ..
17570894      101      160  7471  20210124   6
17570892      101      160  7993  20210124   6
17570890      101      160  7863  20210124   6
13303747      101      160  9819  20210117   6
13171918      101      160  8788  20210117   6

[254 rows x 5 columns]

In [83]:
df = from_101_to_160.groupby(['요일','집계일자'])

In [84]:
df.head()

          출발영업소코드  도착영업소코드   통행시간      집계일자  요일
9471          101      160   7625  20210101   4
9473          101      160   8363  20210101   4
9474          101      160   8725  20210101   4
9475          101      160   7814  20210101   4
9476          101      160   8296  20210101   4
...           ...      ...    ...       ...  ..
22628407      101      160  21137  20210130   5
23429730      101      160   9608  20210131   6
23429733      101      160   7287  20210131   6
23429734      101      160  10076  20210131   6
23429735      101      160   8038  20210131   6

[109 rows x 5 columns]

In [85]:
df.size()

요일  집계일자
1   20210105    11
    20210119     9
2   20210106    10
    20210113     7
    20210120    11
    20210127    16
3   20210107     7
    20210114     6
    20210121    10
    20210128     6
4   20210101    13
    20210115     8
    20210122    18
5   20210102    15
    20210116    15
    20210123    24
    20210130    12
6   20210103     7
    20210110    13
    20210117    17
    20210124    15
    20210131     4
dtype: int64

In [86]:
df.sum()  #max, mean, min

             출발영업소코드  도착영업소코드    통행시간
요일 집계일자
1  20210105     1111     1760  104020
   20210119      909     1440   74333
2  20210106     1010     1600   83804
   20210113      707     1120   67048
   20210120     1111     1760  105200
   20210127     1616     2560  123196
3  20210107      707     1120   92889
   20210114      606      960   67114
   20210121     1010     1600   78548
   20210128      606      960   47328
4  20210101     1313     2080  108772
   20210115      808     1280   80926
   20210122     1818     2880  164899
5  20210102     1515     2400  131272
   20210116     1515     2400  126508
   20210123     2424     3840  211172
   20210130     1212     1920  126185
6  20210103      707     1120   54245
   20210110     1313     2080  111880
   20210117     1717     2720  154307
   20210124     1515     2400  118979
   20210131      404      640   35009

#5. Save the data

In [ ]:
result = "/gdrive/MyDrive/datasets/data_202101.csv"
from_101_to_160.to_csv(output, index=None, header=True)